* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #f5f7fa;
  padding: 40px;
  font-family: Raleway;
  line-height: 26px;
}

.wrapper {
  background: #ffffff;
  display: flex;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  max-width: 1225px;
  margin: 0 auto;
  padding: 110px 120px 110px 120px;
}

aside {
  background: #ecefee;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #24292d;
  padding-right: 50px;
}

.leftbar-header {
  margin-left: 40px;
}

.leftbar-header h1 {
  font-size: 50px;
  white-space: nowrap;
  margin-top: 65px;
  margin-bottom: 30px;
}

.leftbar-header h3 {
  font-weight: 500;
  margin-bottom: 125px;
}

.my-photo {
  width: 370px;
  border-radius: 250px;
  box-shadow: 0 0 2px #666;
}

.about-me-container {
  margin-left: 40px;
  margin-bottom: 115px;
}

.about-me-container hr {
  margin-inline-end: 40px;
  margin-bottom: 50px;
}

.about-me-container p {
  font-size: 17px;
}

.contacts-container {
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
}

h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.contacts-link {
  color: #24292d;
  margin-left: 10px;
  text-decoration: none;
}
